---
const { label, id, name, rows } = Astro.props;
---

<div class="flex flex-col space-y-1">
  <label for={id} class="text-sm prose font-semibold">{label}</label>
  <textarea
    class="outline-1 outline-[#D0D5DD] rounded-lg"
    id={id}
    name={name}
    rows={rows}></textarea>
</div>
